{#extends file='Mian.Master.html'}
{#block name=head}
    <link rel="stylesheet" type="text/css" href="style/about.css" />
{#/block}
{#block name=breadCrumb}
	<div class="breadCrumb">
	    <span><a href="/">Home</a> > {#$title}</spa>
	</div>
{#/block}
{#block name=content}
	<h1>{#$title}</h1>
	<div class="section left blue" id="section1">
		<span class="notch"></span>
		<div class="col1">
			<img src="images/logo-large.jpg">
		</div>
		<div class="col2">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet lorem nisl. Quisque suscipit condimentum velit at semper. Donec non turpis id lacus luctus blandit eu at turpis</p>
			<a class="viewMore" href="#">View more</a>
		</div>
		<div class="clear"></div>
	</div>
	{#include file="portlet-latest.html"}
	<div class="section twoColumn">
		<div class="column">
			<h3>Annual report/audit report</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet lorem nisl. Quisque suscipit condimentum velit at semper. Donec non turpis id lacus luctus blandit eu at turpis Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet lorem nisl. Quisque suscipit condimentum velit at semper. Donec non turpis id lacus luctus blandit eu at turpis Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet lorem nisl. Quisque suscipit condimentum velit at semper. Donec non turpis id lacus </p>
			<h3>Constitution</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet lorem nisl. Quisque suscipit condimentum velit at semper. Donec non turpis id lacus luctus blandit eu at turpis</p>
			<h3>O-chart</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet lorem nisl. Quisque suscipit condimentum velit at semper.</p>
			<img src="images/lady.jpg" style="float:left;margin-right:20px;">
			<ul>
				<li><a class="withArrow" href="javascript:void(0);">Lorem ipsum dolor sit</a></li>
				<li><a class="withArrow" href="javascript:void(0);">Lorem ipsum dolor sit amet</a></li>
				<li><a class="withArrow" href="javascript:void(0);">Lorem ipsum dolor</a></li>
				<li><a class="withArrow" href="javascript:void(0);">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit ame</a></li>
				<li><a class="withArrow" href="javascript:void(0);">Lorem ipsum dolor sit a</a></li>
			</ul>
		</div>
		<div class="column col2">
			<h3>Annual report/audit report</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet loreym nisl.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet loreym nisl.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet loreym nisl.</p>
			<h3>Contact us</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet lorem nisl. consectetur adipiscing elit. Nam sit amet lorem nisl.</p>
		</div>
		<div class="clear"></div>
	</div>
{#/block}