{#extends file='Mian.Master.html'}
{#block name=head}
    <link rel="stylesheet" type="text/css" href="style/donate.css" />
{#/block}
{#block name=breadCrumb}
	<div class="breadCrumb">
	    <span><a href="/">Home</a> > {#$title}</spa>
	</div>
{#/block}
{#block name=content}
	<h1>{#$title}</h1>
	<div class="section left blue">
		<span class="notch"></span>
		<div class="section1">
			<h2>I want to donate</h2>
			<p>Address: Flat G  5/fl Lok Fu Mansion , 201  Fa Yuen street, Mongkok , Kowloon</p>
			<p>E-mail: uniskies@yahoo.com.hk</p>
			<p>HK$ saving account: 012-349-1-007647-0</p>
			<p>Bank: Bank of China (Hong Kong) Ltd</p>
		</div>
		<div class="clear"></div>
	</div>
	{#include file="portlet-amount.html"}
	<div class="section section2 right gray">
		<span class="notch"></span>
		<h2>Donationa FAQ</h2>
		<h3>1. Lorem ipsum</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet lorem nisl. Quisque suscipit condimentum velit at semper. Donec non turpis id lacus luctus blandit eu at turpis Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet lorem nisl. Quisque suscipit condimentum velit at semper. Donec non turpis id lacus luctus blandit eu at </p>
		<h3>2. Lorem ipsum</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet lorem nisl. Quisque suscipit condimentum velit at semper. Donec non turpis id lacus luctus blandit eu at turpis Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet lorem nisl. Quisque suscipit condimentum velit at semper. Donec non turpis id lacus luctus blandit eu at </p>
		<h3>3. Lorem ipsum</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet lorem nisl. Quisque suscipit condimentum velit at semper. Donec non turpis id lacus luctus blandit eu at turpis Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet lorem nisl. Quisque suscipit condimentum velit at semper. Donec non turpis id lacus luctus blandit eu at </p>
		<h3>4. Lorem ipsum</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet lorem nisl. Quisque suscipit condimentum velit at semper. Donec non turpis id lacus luctus blandit eu at turpis Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet lorem nisl. Quisque suscipit condimentum velit at semper. Donec non turpis id lacus luctus blandit eu at </p>
		<h3>5. Lorem ipsum</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet lorem nisl. Quisque suscipit condimentum velit at semper. Donec non turpis id lacus luctus blandit eu at turpis Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet lorem nisl. Quisque suscipit condimentum velit at semper. Donec non turpis id lacus luctus blandit eu at </p>
		<h3>6. Lorem ipsum</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet lorem nisl. Quisque suscipit condimentum velit at semper. Donec non turpis id lacus luctus blandit eu at turpis Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet lorem nisl. Quisque suscipit condimentum velit at semper. Donec non turpis id lacus luctus blandit eu at </p>
	</div>
{#/block}