<style type="text/css">
#portletLatest{
    width: 200px;
    height: 300px;
    top: 0px;
    right: 79px;
    padding: 30px;
}

    #portletLatest h2{
        font-size: 20px;
        margin-bottom: 25px;
    }

    #portletLatest img{
        margin-bottom: 15px;
    }
</style>
<div class="portlet" id="portletLatest">
	<h2>Latest from Uniskies</h2>
    <img src="images/school.jpg">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet lorem nisl. Quisque suscipit condimentum velit at semper. Donec non</p>
</div>