#section1 .col1{
	padding: 33px 35px;
	background-color: #fff;
	margin-top: 50px;
	position: absolute;
	left: 79px;
}

#section1 .col2{
	margin: 0 220px 0 304px;
	padding: 50px 30px 0;
}

	#section1 .col2 p{
		font-size: 24px;
	}

	#section1 .col2 a.viewMore{
		font-size: 14px;
		color: #fff;
	}

.twoColumn .column{
	width: 50%;
}

.twoColumn .column.col2{
	width: 25%;
	margin-left: 55px;
}