{#extends file='Mian.Master.html'}
{#block name=head}
    <link rel="stylesheet" type="text/css" href="style/home.css" />
{#/block}
{#block name=breadCrumb}
{#/block}
{#block name=content}
    <div class="slideShow">
        <!--div class="sliderContainer">
            <div class="slider" style="background:url('images/home-background-1.jpg') center top no-repeat;"></div>
        </div-->
        <h2>What we do</h2>
        <p>To provide a platform for individuals to get in touch with organisations that are in need of services or financial assistance.</p>
        <a class="button blue" href="?c=article">Find out more</a>
    </div>
    <div class="featureNews">
    	<div class="column">
    		<h3>Pellentesque sagittis odio et justo convallis at varius</h3>
    		<p>Vestibulum at tempor ante. Curabitur justo nunc, aliquam at faucibus ac, lacinia a nulla. In hac habitasse platea dictumst. Sed eget lacus tellus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    	</div>
    	<div class="column">
    		<h3>Cras vel sem semper enim </h3>
    		<p>Donec non turpis id lacus luctus blandit eu at turpis. Aliquam quam metus, mollis eget pretium id, pharetra id lacus. Cras id augue justo. Sed ullamcorper viverra magna, quis accumsan odio porttitor et. Nunc vel sagittis leo.</p>
    	</div>
    	<div class="column">
    		<h3>Vestibulum at tempor ante quis mollis diam</h3>
    		<p>Curabitur justo nunc, aliquam at faucibus ac, lacinia a nulla. In hac habitasse platea dictumst. Sed eget lacus tellus. Cum sociis natoque penatibus et magnis dis parturient monte</p>
    	</div>
    	<div class="readMore">
    		<a href="?c=wedo">More News...</a>
    	</div>
    </div>
    <div class="donate">
    	<h3>Ready to work with us?</h3>
    	<a class="button green" href="?c=donate">Donate</a>
    	<div class="readMore">
    		<a href="?c=donate">or find out more</a>
    	</div>
    </div>
    <div class="about">
    	<div class="aboutContainer">
	    	<img src="images/man-and-woman.png">
	    	<h2>About Uniskies</h2>
	    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet lorem nisl. Quisque suscipit condimentum velit at semper. Donec non turpis id lacus luctus blandit eu at turpis:</p>
	    	<div class="clear"></div>
    	</div>
    </div>
    <div class="aboutDetail">
    	<span class="notch"></span>
    	<div class="row1">
    		<img src="images/little-girl.png">
	    	<h3>Promoting education in China</h3>
	    	<ul>
	    		<li>Promoting education amongst the poor in China and other social charities (including those for orphans and the disable, medical help and people affected by disasters)</li>
	    		<li>Assisting the poor high school students with their school fees, books and boarding and other sundry expenses;<br>
	    		Organising and supervising the construction of schools</li>
	    		<li>Formulating plans for the running of schools and managing and monitoring the administration and finance of schools</li>
	    		<li>Liaising with schools, teachers, parents and students</li>
	    	</ul>
    		<div class="clear"></div>
    	</div>
    	<div class="row2">
    		<img src="images/couple.png">
	    	<h3>Organising community activities for seniors in Hong Kong</h3>
	    	<p>Regular activities are organised in various districts for seniors, which include the giving of gifts, to enable the community to show their care for the seniors who have contributed so much for Hong Kong. Such activities also help to motivate the reclusive elders to take part in community events.</p>
	    	<div class="readMore">
	    		<a href="?c=about">More about our Services...</a>
	    	</div>
    	</div>
    </div>
    <div class="member">
    	<h2>Member Area</h2>
    	<div class="readMore">
    		<a href="?c=member">Find out more</a>
    	</div>
    	<div class="dialogContainer">
			<div class="dialog" id="dialog1">
				<p>Cum sociis natoque penatibus et magnis dis parturient montes, nasc ridiculus mus.</p>
				<span class="notch left"></span>
			</div>
			<div class="dialog" id="dialog2">
				<p>Vestibulum at tempor ante. Curabitur justo nunc, aliquam at faucibus ac, lacinia a nulla. In hac habitasse platea dictumst. Sed eget lacus tellus.</p>
				<span class="notch right"></span>
			</div>
			<div class="dialog" id="dialog3">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet!</p>
				<span class="notch right"></span>
			</div>
		</div>
		<img id="figure1" src="images/dialog-figure1.png">
		<img id="figure2" src="images/dialog-figure2.png">
		<img id="figure3" src="images/dialog-figure3.png">
    </div>
{#/block}