<div class="section left gray mediaCoverage">
    <h2>Media Coverage</h2>
    <div class="column">
        <h3><a class="withArrowBold noLine" href="?c=article">Lorem ipsum dolor sit a</a></h3>
        <img src="images/children05.jpg">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet lorem nisl. Quisque suscipit condimentum</p>
    </div>
    <div class="column">
        <h3><a class="withArrowBold noLine" href="?c=article">Lorem ipsum dolor sit a</a></h3>
        <img src="images/children05.jpg">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet lorem nisl. Quisque suscipit condimentum</p>
    </div>
    <div class="column">
        <h3><a class="withArrowBold noLine" href="?c=article">Lorem ipsum dolor sit a</a></h3>
        <img src="images/children05.jpg">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet lorem nisl. Quisque suscipit condimentum</p>
    </div>
    <div class="column last">
        <h3><a class="withArrowBold noLine" href="?c=article">Lorem ipsum dolor sit a</a></h3>
        <img src="images/children05.jpg">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet lorem nisl. Quisque suscipit condimentum</p>
    </div>
    <div class="clear"></div>
</div>