<style type="text/css">
#portletAmount{
    width: 204px;
    padding: 40px 28px 20px;
}

    #portletAmount .title{
        font-size: 18px;
        padding-bottom: 13px;
    }

    #portletAmount .amount{
        font-size: 30px;
        font-weight: bold;
        text-align: right;
        padding-bottom: 30px;
    }
</style>
<div class="portlet" id="portletAmount">
	<p class="title">Total amount (HK$)</p>
	<p class="amount">156,486,000</p>
	<p class="title">Total donors</p>
	<p class="amount">6,486,000</p>
	<br>
	<br>
	<br>
	<p>Introduction of how the money will be used</p>
</div>